@import './colors.scss';
@import './variables.scss';
// fix me - to do - hover states;
.btn {
    display: inline-block;
    font-weight: 500;
    color: $color-white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

// menu book button
$btn-book-height: 48px;
.menu-item {
    .btn-book {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: .9px;
        color: $color-text-link;
        height: $btn-book-height;
        line-height: $btn-book-height;
        border-radius: $btn-book-height;
        margin-top: -12px;
        padding: 0 28px;
        background-color: $color-brand-main;
        border: 3px solid #3C8FA6;
        box-shadow: 0 1px 4px 0 rgba(36, 36, 37, .54);
    }
}

@media(max-width: $media-lg-mobile-width) {
    .menu-item .btn-book {
        margin-top: 0;
    }
}

// carousel btn
.carousel-btn-wrapper {
    .btn-carousel {
        font-size: 24px;
        font-weight: 600;
        color: #F7FBFF;
        height: 70px;
        padding: 0 56px;
        border-radius: 26px;
        box-shadow: 0 1px 4px 0 rgba(36, 36, 37, .54);
        background-color: #3C8FA6;
        border: 3px solid #3C8FA6;
    }
}

// join btn
.join-btn-wrapper {
    .btn-join {
        font-size: 24px;
        letter-spacing: .9px;
        color: #FFFFFF;
        height: 52px;
        padding: 0 28px;
        background-color: #3C8FA6;
    }
}

// packages btn book
.package-book {
    .btn-book {
        font-size: 20px;
        letter-spacing: .7px;
        color: $color-btn-bg;
        height: 52px;
        line-height: 52px;
        border-radius: 5px;
        border: 2px solid $color-btn-border;
        background-color: #F7FBFF;
        padding: 0 14px;
    }
}

// hydro btn book
.hydro-cost-btn-wrapper {
    .btn-book {
        font-size: 20px;
        letter-spacing: .7px;
        color: $color-btn-bg;
        height: 52px;
        line-height: 52px;
        border-radius: 5px;
        border: 2px solid $color-btn-border;
        background-color: #F7FBFF;
        padding: 0 14px;
    }
}