@import './variables.scss';

.carousel-container {
    margin-top: 155px;
    height: 60vh;
    background: center/ cover no-repeat url('../images/carousel_bg.jpg');
}

@media(max-width: $media-tablet-width) {
    .carousel-container {
        margin-top: 100px;
    }
}