.contact-heading {
    height: 194px;
    line-height: 194px;
    padding: 58px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.3px;
    background-color: #094B7D;
}

.contact-table {
    width: 100%;
    .contact-wrapper {
        width: 50%;
    }
    .contact-padder {
        padding: 62px 46px;
    }
    .contact-label {
        font-size: 24px;
        letter-spacing: -0.2px;
        margin-bottom: 15px;
    }
    .contact-content {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.2px;
        margin-bottom: 24px;
        p {
            margin: 0;
        }
    }
}