@import './variables.scss';
@import './colors.scss';
.body-content-container {
    background-color: $color-content-bg;
    margin-top: 155px;
}

@media(max-width: $media-tablet-width) {
    .body-content-container {
        margin-top: 100px;
    }
}