@import './colors.scss';
@import './variables.scss';
.contact-heading {
    height: 149px;
    line-height: 149px;
    padding: 58px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.3px;
    background-color: $color-brand-main;
}

.contact-table {
    width: 100%;
    .contact-wrapper {
        width: 50%;
    }
    .contact-padder {
        padding: 62px 46px;
    }
    .contact-label {
        font-size: 24px;
        letter-spacing: -0.2px;
        color: #0E1827;
        margin-bottom: 8px;
    }
    .contact-content {
        font-size: 18px;
        letter-spacing: -0.2px;
        color: $color-brand-main;
        margin-bottom: 20px;
        p {
            margin: 0;
        }
        >span {
            float: left;
            width: 50%;
        } // social links
        .social-link {
            text-decoration: none;
            svg {
                width: 48px;
            }
        }
    }
}

@media(max-width: $media-lg-mobile-width) {
    .contact-heading {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
    }
    .contact-table .contact-wrapper {
        float: left;
        width: 100%;
    }
}