.explore-container{
    height: 86px;
    line-height: 86px;
    color: #FFFFFF;
    font-size: 24px;
    padding: 0 0 0 47px;
    background:top / cover no-repeat url('../images/carousel_bg.jpg');
}