@import './variables.scss';
.footer {
    height: 56px;
    line-height: 56px;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    background-color: $color-footer-bg;
    a {
        color: #FFFFFF;
    }
}