@import './typo.scss';
@import './helpers.scss';
html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

// test
.section {
    height: 100vh;
}

@import './header.scss';
@import './button.scss';
@import './carousel.scss';
@import './content.scss';
@import './join.scss';
@import './services.scss';
@import './package.scss';
@import './hydromassage.scss';
@import './contact.scss';
@import './footer.scss';