@import './colors.scss';
@import './variables.scss';
.package-table {
    width: 100%;
}

.package-wrapper {
    background-color: #fdfdfd;
    .package-padder {
        padding: 15px 37px;
    }
}

.package-title {
    font-size: 24px;
    letter-spacing: -0.2px;
    color: #494949;
    text-align: center;
}

.package-divider {
    height: 4px;
    background: linear-gradient(to right, #273b65, #67c5b3, #273b65);
}

.package-list {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.2px;
    .package-listitem {
        margin: 20px 10px;
    }
}

.package-book {
    margin-top: 86px;
    text-align: center;
}

@media(max-width:$media-lg-mobile-width) {
    .package-wrapper {
        float: left;
        width: 100%;
        margin-bottom: 40px; // fix me - get from bev
        &:nth-child(2n) {
            background-color: #eeeeee;
        }
    }
}