@import './colors.scss';
@import './variables.scss';
.services-header-container {
    background-color: $color-services-bg;
}

.services-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 74px;
    line-height: 74px;
    .services-menu-item {
        float: left;
        width: 25%;
        text-align: center;
        a {
            position: relative;
            display: inline-block;
            font-size: 24px;
            text-decoration: none;
            color: #F7FBFF;
            &:hover {
                color: #F7FBFF;
            }
            .services-hover-id {
                position: absolute;
                bottom: 15px;
                width: 100%;
                opacity: 0;
                height: 2px;
                background-color: #284670;
            }
        }
        &.selected * {
            cursor: default;
        }
        &.selected,
        &:hover {
            a .services-hover-id {
                opacity: 1;
                transition: .5s;
            }
        }
    }
}

@media(max-width: $media-tablet-width) {
    .services-menu {
        .services-menu-item {
            a {
                font-size: 20px;
            }
        }
    }
}

@media(max-width: $media-lg-mobile-width) {
    .services-menu {
        .services-menu-item {
            a {
                font-size: 16px;
            }
        }
    }
}

@media(max-width: $media-sm-mobile-width) {
    .services-menu {
        .services-menu-item {
            a {
                font-size: 10px;
            }
        }
    }
}